                  // React Js Project
// USE pnpm
pnpm install
pnpm add vite --save-dev

// ADD OPENAI API KEY - 
Create .env file inside askscribe folder and write - 
VITE_API_KEY = 'ENTER YOUR OPENAI API KEY HERE'

// Run the project - 
cd askscribe
pnpm run dev

// Build vite command - pnpm create vite@latest 
// Import below packages if import errors are shown 

Tailwind - pnpm install -D tailwind postcss autoprefixer
Flowbite - pnpm install flowbite flowbite-react

React Router - pnpm add react-roter-dom@latest

Mongoose - pnpm install mongoose
Node - pnpm install node
Express - pnpm install express
Cors - pnpm install cors
Bcrypt - pnpm install bcryptjs
NodeMailer - pnpm install nodemailer

Jwt Decoder - pnpm install jwt-decoder
React Pdf - pmpm install --save react-pdf
Body Parser - pnpm install body-parser

// If still error is shown try using -
pnpm audit fix
